* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}
body {
  overflow-x: hidden;
}
.sub-title-head {
  font-size: 18px;
  font-weight: 600;
}
.nav-button {
  color: white;
  background-color: orangered;
  border-radius: 20px;
  height: 40px;
  width: 100px;
  border: 0px;
}
.social-login {
  text-align: center;
  margin-top: 22px;
  margin-bottom: 22px;
}
.social-logo {
  list-style: none;
  display: flex;
  padding: 5px;
  justify-content: center;
}
.social-list {
  margin: 0 4px;
}
.social-list img {
  width: 45px;
}
.login-selector {
  width: 233px;
}
.add-heading{
  font-weight:600;
  font-size:48px;
  text-align: center;
  background: -webkit-linear-gradient(top left, #ec08ee, #08bef0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
.nav-tabs .nav-link.active {
  background-color: orangered !important;
  border-radius: 10px;
  color: white !important;
  border-color: orangered;
}
.signup-tab {
  padding: 0 3rem;
}
.signin-link {
  text-align: center;
  margin-top: 0.5rem;
}
.model-text {
  color: grey;
  font-size: 14px;
  text-align: center;
}
.model-button {
  color: white;
  background-color: orangered;
  border-radius: 10px;
  height: 40px;
  width: 370px;
  border: 0px;
}
#name-error {
  display: none;
  color: orangered;
}
#email-error {
  display: none;
  color: orangered;
}
#password-error {
  display: none;
  color: orangered;
}
.profile-button {
  color: black;
  font-size: 20px;
  /* font-weight: 500; */
  border: 1px solid orangered !important;
  border-radius: 50%;
  background-color: #faece6;
  height: 45px;
  width: 45px;
  border: 0px;
  text-align: center;
}
.profile-button:hover {
  background-color: orangered;
  color: white;
}
.home-container {
  margin-top: 200px;
  text-align: center;
}
.home-head {
  font-size: 72px;
  font-weight: 600;
}
.blob_1 {
  position: absolute;
  width: 400px;
  z-index: -1;
  left: 15%;
  top: 10%;
}
.blob_2 {
  position: absolute;
  width: 400px;
  z-index: -1;
  left: 65%;
  top: 40%;
}
.blob_3 {
  position: absolute;
  width: 400px;
  z-index: -1;
  left: 30%;
  top: 45%;
  opacity: 0.6;
}
button:disabled,
button[disabled] {
  background-color: #cccccc;
  color: #666666;
}
.signup-success{
  width:300px;
  margin:0 auto;
  border-radius:10px !important;
}
.add-container{
width:750px ;
margin:0 auto;
}
.input-headers{
  font-weight:500;
  font-size:18px;
}
.input-fields{
  background: #FFFFFF;
  box-shadow: 3px 4px 10px rgba(135, 135, 135, 0.25);
  border-radius: 10px;

}

.input-height{
  height:50px;
}

.form-control:focus {
  box-shadow: none !important;
  outline:none !important;
}
.input-header-div{
  font-weight: 400;
  font-size:14px;
}
.view-img {
  width: 130px;
  height: 110px;
  margin-top: 20px;
  margin-left: 20px;

  /* padding: 100px; */
  /* margin-top:; */
}
.edit-delete-link {
  text-decoration: none;
  color: grey;
  z-index:10;
}
.edit-delete-link :hover {
  /* color: orangered; */
  cursor:pointer;
}
.view-icon-size {
  width: 100px !important;
}
ion-icon {
  /* width: 400px; */
  font-size: 22px;
}
.view-heading {
  text-align: center;
  margin-top: 50px !important;
}
.navbar-item-hover:hover{

  color:  #0f62fe !important;
}
.navbar-item-hover{
  font-weight:500;
}
.add-button{
font-size:45px;
}
.add-button-position{
  float:right;
}


/* Code for cards */
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}
.card{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height:500px;
  position:absolute;
}
.icons{
position:relative;
margin-top:30px;
margin-left:-5px;
width:50px;
}
.blog-title{
  font-family: 'Playfair Display', serif;
  font-size:42px;
  font-weight:700;
}
.blog-container{
  width:800px !important;
}
.blog-desc{
  margin-top:80px;
font-size:19px;
line-height: 1.8;
}
.blog-image{
  text-align: center !important;
}
